<mat-expansion-panel [hideToggle]="true" [expanded]="true">

  <mat-expansion-panel-header>
    <mat-panel-title>Entrar no Sistema</mat-panel-title>
  </mat-expansion-panel-header>


  <form #form="ngForm" (ngSubmit)="onLogin(email.value, senha.value)">
    <mat-form-field>
      <input #email="ngModel" matInput email required type="email" name="email" ngModel placeholder="email">
      <mat-error *ngIf="email.hasError('required')">Obrigatório</mat-error>
      <mat-error *ngIf="email.hasError('email')">Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input #senha="ngModel" matInput required type="password" name="senha" ngModel placeholder="Senha">
      <mat-error *ngIf="senha.hasError('required')">Obrigatório</mat-error>
    </mat-form-field>

    <mat-action-row>
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Login</button>
    </mat-action-row>
  </form>
</mat-expansion-panel>