<mat-accordion multi="true">

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Confirmar Solicitações de Acesso</mat-panel-title>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="solicitacoes">
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>Usuário</th>
        <td mat-cell *matCellDef="let element">
          {{element.nome}}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">
          {{element.email}}
        </td>
      </ng-container>
      <ng-container matColumnDef="perfil">
        <th mat-header-cell *matHeaderCellDef>Perfils</th>
        <td mat-cell *matCellDef="let element">
          <mat-select class="perfil" [compareWith]='modelCompareFn' placeholder="Perfils" [(ngModel)]="element.perfils" multiple>
            <mat-option *ngFor="let p of perfils" [value]="p">{{p.nome.substring(5)}}</mat-option>
          </mat-select>

        </td>
      </ng-container>

      <ng-container matColumnDef="confirm">
        <th mat-header-cell *matHeaderCellDef>Confirmar</th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="element.perfils.length == 0" mat-raised-button color="primary" (click)="confirmarAcesso(element)">Confirmar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-expansion-panel>

</mat-accordion>
