<mat-accordion multi="true">
  <form #form="ngForm" (ngSubmit)="onRegistrarClick()" (reset)="entregasTema = undefined">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Entregar Material</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-select name="dia" (selectionChange)="onChangeDia()" [(ngModel)]="diaSel" placeholder="Escolha o dia da turma" required>
        <mat-option *ngFor="let o of diasSemana" [value]="o.eng">{{o.pt}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="turma" (selectionChange)="onChangeTurma()" [(ngModel)]="turmaSel" placeholder="Escolha a Turma" required>
        <mat-option *ngFor="let o of (turmas | sortByNome)" [value]="o"
            >{{o.sala ? o.nome + ' na ' + o.sala : o.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="materia" [(ngModel)]="materiaSel" placeholder="Escolha a Matéria" required
          (selectionChange)="onMateriaChanged()">
        <mat-option *ngFor="let o of (materias | sortByNome)" [value]="o">{{o.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="tema" [compareWith]='Model.compareFn' (selectionChange)="onTemaChanged()" [(ngModel)]="temaSel"
          placeholder="Escolha o Tema" required>
        <mat-option *ngFor="let o of (materiaSel?.temas | sortByNumero)" [value]="o">{{o.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="entregasTema" class="mat-elevation-z4" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Alunos</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox name="showFoto" [(ngModel)]="showFoto">Mostrar fotos</mat-checkbox>

    <div class="alunos">
      <ng-container *ngFor="let entrega of (entregasTema | sortByAluno)"> 
        <app-aluno-detail  [aluno]="entrega.aluno" [(showFoto)]="showFoto"
            [marked]="entrega.entregue" markedChar="E" 
            markedDescription="Entregue em {{entrega?.data | date : 'dd/MM/yy HH:mm'}}"> 
            <mat-checkbox
              [title]="entrega.aluno.nome"
              (click)="$event.stopPropagation()"
              (change)="$event ? entrega.entregue = !entrega.entregue : null; onChangeEntregue(entrega)"
              [checked]="entrega.entregue"
                >{{entrega.aluno.nome}}
            </mat-checkbox>

        </app-aluno-detail>
      </ng-container>
    </div>
    
    <mat-action-row>
      <button type="submit" mat-raised-button color="primary">Registrar</button>
      <button type="reset"  mat-raised-button color="warn">Limpar</button>
    </mat-action-row>

  </mat-expansion-panel>
</form>




</mat-accordion>
