/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    margin-left: 10px;
}

.mat-cell, .mat-header-cell {
  padding-right: 10px !important;
}

.alunos .aluno {
  width: 134px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  display: inline-block;
  position: relative;
}

.alunos .aluno img {
  width: 100%;
}

.alunos .aluno .nome {
    min-height: 3rem;
    max-height: 3rem;

    padding: 5px;
    font-size: 80%;
    color: gray;
    overflow: hidden;
    text-transform: capitalize;
}

.mat-checkbox-label {
  white-space: normal;
}

.alunos .aluno .nome p {
    height: 2rem;
}

.alunos .aluno .marked {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #313aa2;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 5px 10px;
    cursor: default;
}
